<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/teacher/homepage"><li>Home</li></a>
        <a href="/teacher/add-course"><li>Add a course</li></a>
        {{!-- <a href="#footer"><li>Contact Us</li></a> --}}
        <a href="/teacher/myaccount"><li>My Account</li></a>
    </ul>
</nav>

<section id="teacher-add-course">
<h1>Edit course</h1>

<form id="newcourse-form" action="./{{oneCourse.id}}" method="POST" enctype="multipart/form-data">
  
    <label for=""></label>
    <input type="text" name="name" value="{{oneCourse.name}}" />

   <br/>

    <label for=""></label>
    <input type="text" name="technology" value="{{oneCourse.technology}}" />

  <br/>
    <label for=""></label>
    <input type="text" name="level" value="{{oneCourse.level}}" />

  <br/>
    <label for=""></label>
    <input type="text" name="description" value="{{oneCourse.description}}" />

  <br/>
    <label for=""></label>
    <input type="text" name="link" value="{{oneCourse.link}}" />

  <br/>
    <label for=""></label>
    <input type="text" name="duration" value="{{oneCourse.duration}}" />
  <br/>

    <label for=""></label>
    <input type="file" name="image" value="{{oneCourse.image}}" />

  <br/>
    <button class="auth-btn"type="submit">Edit course</button>
    </form>
</section>
