<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/teacher/homepage"><li>Home</li></a>
        <a href="/teacher/add-course"><li>Add a course</li></a>
        {{!-- <a href="#footer"><li>Contact Us</li></a> --}}
        <a href="/teacher/myaccount"><li>{{name}}</li></a>
    </ul>
</nav>

<section id="teacher-homepage">
<div class="tagline-teacher">

<h1>Share your skills with the world</h1>
<h3>Upload your own video tutorials and online materials
    <br>
     while building your personal brand.</h3>

<button class="add-course-teacher"><a href="/teacher/add-course">Add a new course</a></button>

</div>

  <h2>Your shared courses</h2>

<div class="teacher-courses-list">


{{#each courses}}

<a href="{{this.link}}">   
<img class="teacher-course-img" src="{{this.image}}" alt="course-img">
</a>

<div class="teacher-courses-list-container">

<ul>
<li><h2>{{this.name}}</h2></li>
<li><h3>{{this.description}}</h3></li>
<li>technology: {{this.technology}}</li>
<li>level: {{this.level}}</li>
<li>duration: {{this.duration}}</li>
<li><button class="add-btn"><a href="/teacher/edit/{{this._id}}">Edit</a></button></li>
<form action="/teacher/{{this._id}}/remove" method="POST">
<li><button class="add-btn" type="submit">Remove</button></li>
</form>
</ul>   

{{/each}}

</div>


</div>

</section>
