<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My Account</li></a>
    </ul>
</nav>

<section class="course-info">
 <h2>Course Information</h2>
<div>
    <p>{{oneCourse.name}}</p>
    <p>{{oneCourse.technology}}</p>
    <p>{{oneCourse.level}}</p>
    <p>{{onceCourse.description}}</p>
    <p><img href="{{oneCourse.image}}"/></p>
</div>

</section>


