<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My account</li></a>
    </ul>
</nav>
 {{!-- Mobile --}}
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top Navigation Menu -->
<div class="mobile-nav">
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
  <a href="#home" class="active"><img id="mobile-logo"src="/images/mainlogo.png" alt="logo"/></a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="/user">Learning</a>
    <a href="/user/favorites">My Courses</a>
    <a href="#footer">Contact Us</a>
    <a href="/user/account">My Account</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
{{!-- mobile --}}


<section class="favorites">
    <h1>My Courses</h1>
    
    <div class="favorites-course-list">
    {{#each courses}}

        <form action="/user/{{this._id}}/remove" method="POST">
            <div class="img">
                <a href="{{this.link}}">   
                    <img class="course-img" src="{{this.image}}" alt="course-img">
                </a>
            </div>

            <div class="favorites-description">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
            <button class="remove-favorite-btn">Remove</button>
        </form>
       
        </div>
        <a href="/user/{{this._id}}/review">
            <button class="add-review-btn">Add a review</button>
        </a>
        <div class="reviews-section">
        <h3><img class="review-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653486/images/star_jgexl4.png"> Course reviews</h3>
       <div class="review-section-background">
        {{#each this.reviews}}
            <p><img class="review-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653513/images/user_xbg4bj.png"> {{title}}</p>
            <p class="comments">{{comments}}</p>
        {{/each}}
        </div>
        </div>
        <hr>
    {{/each}}
    </div>
</section>

