<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My Account</li></a>
    </ul>
</nav>

<section class="favorites">
    <h1>My Courses</h1>
    
    <div class="favorites-course-list">
    {{#each courses}}

        <form action="/user/{{this._id}}/remove" method="POST">
            <div class="img">
                <a href="{{this.link}}">   
                    <img class="course-img" src="{{this.image}}" alt="course-img">
                </a>
            </div>

            <div class="favorites-description">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
            </div>
            <button class="remove-btn">Remove</button>
        </form>

        <a href="/user/{{this._id}}/review">
            <button class="add-review-btn">Add Review</button>
        </a>

        <h3>Course reviews</h3>
        {{#each this.reviews}}
            <p>{{title}}</p>
            <p>{{comments}}</p>
        {{/each}}
        <hr>
    {{/each}}
    </div>
</section>

