<section class="favorites">

    <h1>My Courses</h1>
    {{!-- <a href="/user">Back to homepage</a> --}}

    <div class="favorites-course-list">
    {{#each courses}}

        <form action="/user/{{this._id}}/remove" method="POST">
            <div class="img">
                <a href="{{this.link}}">   
                    <img class="course-img" src="{{this.image}}" alt="course-img">
                </a>
            </div>

            <div class="favorites-description">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
            <button class="remove-favorite-btn">Remove</button>
        </form>
       
        </div>
        <a href="/user/{{this._id}}/review">
            <button class="add-review-btn">Add a review</button>
        </a>
        <div class="reviews-section">
        <h3><img class="review-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653486/images/star_jgexl4.png"> Course reviews</h3>
       <div class="review-section-background">
        {{#each this.reviews}}
            <p><img class="review-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653513/images/user_xbg4bj.png"> {{title}}</p>
            <p class="comments">{{comments}}</p>
        {{/each}}
        </div>
        </div>
        <hr>
    {{/each}}
    </div>
</section>

