
    <nav class="nav-bar">
        <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
         <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="#footer"><li>Contact Us</li></a>
        <a href="/user/account"><li>My Account</li></a>
        </ul>
    </nav>
  {{!-- Mobile --}}
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top Navigation Menu -->
<div class="mobile-nav">
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
  <a href="#home" class="active"><img id="mobile-logo"src="/images/mainlogo.png" alt="logo"/></a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="/user">Learning</a>
    <a href="/user/favorites">My Courses</a>
    <a href="#footer">Contact Us</a>
    <a href="/user/account">My Account</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
{{!-- mobile --}}
<section class="menu">
<div>
    <h3>What do you want to learn today?</h3>
</div>
</section>

<h2 id="tech-header">Technologies</h2>
<section class="topics">
<div id="tech-list">

    <button class="technology-button"><a href="/user/courses/javascript">Javascript</a></button>
    <button class="technology-button"><a href="/user/courses/react">React</a></button>
    <button class="technology-button"><a href="/user/courses/html">HTML</a></button>
    <button class="technology-button"><a href="/user/courses/css">CSS</a></button>
    <button class="technology-button"><a href="/user/courses/nodejs">NodeJS</a></button>
    <button class="technology-button"><a href="/user/courses/r">R</a></button>
    <button class="technology-button"><a href="/user/courses/sql">SQL</a></button>
    <button class="technology-button"><a href="/user/courses/python">Python</a></button>
</div>
</section>

<section class="popular">
    <h2>Popular Courses</h2>

    <div class="popular-courses">
    {{#each allCourses}}
        <form action="/user/{{this.id}}/favorites" method="POST">
            <div id="pop-img">
                  <a href="{{this.link}}">   
                    <img src="{{this.image}}" alt="course-img">
                </a>
            </div>
            <h4>{{this.technology}}</h4>
            <h5>{{this.name}}</h5>

            <button class="join-button">Join</button>
        </form>
    {{/each}}
    </div>
</section>

<section class="footer" id="footer">
  <h3>Contact us</h3>
  <div class="contact">
      <img id="email" src="/images/email.png" alt="emailLogo"><p>help@skillbees.com</p>
      <img id="linkedin" src="/images/linkedin.png" alt="linkedlogo"/>
      <br>
      <a href="">Georgia Adams</a>
      <a href="">Anna Mazurek</a>
    </div>
    <p>© Skillbees 2021</p>

</section>
