<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My Account</li></a>
    </ul>
</nav>

<section id="course-list">
{{#each courses}}

<div id="course-details">
<div class="img">
      <a href="{{this.link}}">   
                    <img class="course-img" src="{{this.image}}" alt="course-img">
                </a>
</div>

<h4>{{this.name}}</h4>
<h4>Duration: {{this.duration}}</h4>
<p class="course-desc">{{this.description}}</p>


<form action="/user/{{this.id}}/favorites" method="POST">

<button class="add-btn">Add to favorites</button>

</form>

<button onclick="seeMore()">See more</button>
</div>
{{/each}} 
</section>

<script>
function seeMore() {
   const element = document.querySelector(".course-desc");
   element.classList.toggle("show-more");
}
</script>
